:root {
  --bs-primary: #ff7700;
  --bs-primary-rgb: 255, 119, 0;
}

.btn-primary {
  --bs-btn-bg: var(--bs-primary);
  --bs-btn-border-color: var(--bs-primary);
  --bs-btn-hover-bg: #e56a00;
  --bs-btn-hover-border-color: #e56a00;
  --bs-btn-active-bg: #cc5f00;
  --bs-btn-active-border-color: #cc5f00;
}

.btn-outline-primary {
  --bs-btn-color: var(--bs-primary);
  --bs-btn-border-color: var(--bs-primary);
  --bs-btn-hover-bg: var(--bs-primary);
  --bs-btn-hover-border-color: var(--bs-primary);
  --bs-btn-active-bg: var(--bs-primary);
  --bs-btn-active-border-color: var(--bs-primary);
}

.navbar {
  --bs-navbar-brand-color: var(--bs-primary);
}

.bg-primary {
  background-color: var(--bs-primary) !important;
}

.text-primary {
  color: var(--bs-primary) !important;
}
